nav ul a,
nav .brand-logo {
  color: black;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

#modelos{
    border: none;
    color: white;  
}
#modelos li{
    background-color: #f57f17;
    border:none;
}
#modelos li a{
    color: white;
}


#btnPersonalizar{
    height: 500px;
}

#btnPersonalizar a{
    top: 250px; 
    left: 400px;
    background-color: orange;
    color: black;
}

.card-panel {
    background-color: #fff9c4;
}

#contenedor{
    background-color:#fff9c4;
    size: auto;
}

#reloj{

    background-color: white;

}

body {

    background-color: #fff9c4;
}

#barra{
    background-color: #26a69a;
    color: white;
}


#btnMalla,#btnMarco,#btnAgujas,#btnFondo,#btnNumeros{
    color: black;
}

#btnGuardar{
    background-color: #ffea00;
}

#btnDesechar{
    background-color: #d50000;
}

#btnCompartir{
    background-color: #00c853;
}

#btnDescargar{
    background-color: #2196f3;
}

.collapsible-body{
    background-color: #a7ffeb;
    
}


/*#botonera-preestablecidos ul li a{
    background-color: #00695c;
    top: 160px;
    
}

#botonera button{
    top: 190px;
}*/

#barra1{
    background-color: #00bfa5;
}

#partes{
    top: 180px;
}

#btnEstilo{
    background-color: #004d40;
}

#btnCrear{
    background-color: #00695c;
}

#img-logo {
    
    height: 50px;
}

.opcionparte:hover {

  cursor: pointer; cursor: hand;
}

.opcionparte:focus {

  background-color: gray;
  outline: none;
}

#guardar-form {

  z-index: 2;
  width: 200px;
  background-color: #b2dfdb;
  padding: 10 10 10 10;
  position: absolute;
}

#guardar-box {

  position: relative;
}

#compartir-form {

  z-index: 2;
  width: 300px;
  background-color: #b2dfdb;
  padding: 10 10 10 10;
  position: absolute;
}

#compartir-box {

  position: relative;
}

.ancho {

  width: 75%;
}

.angosto {

  width: : 25%;
}

